/* 
    Estilo para el blog personal xd

    Es posible utlizar la etiqueta "style" en html para el estilo de la pagina
    pero es una atrocidad, por lo tanto se usa la estiqueta link con la ubicacion
    del fichero CSS. 
*/

/* INICIO */

body
    {
        background-color: bisque ; /* El color de fondo de hispachan xd */
    }

.texto_centrado
    {
        text-align: center;
    }

table, th, td, tr 
    {
        text-align: center;
        border: 1px solid black;
    }

table
    {
        width: 250px;
    }

textarea
    {
        text-align: center; /* Modifica el sentido del texto*/
        
        /* Modifica el tamaño del textarea */
        height: 50px;
        width: 300px;
    }

.titulo
    {
        /* texto */
        color:white;
        text-shadow: -4px 4px 16px chartreuse; /* Aplica sombras a las fuentes, parametros: mov_x, mov_y, nivel_de_difuminado, color */
        font-size: 50px;
        
        /* fondo */
        background-color: black;
        margin: 0px 0px 50px 0px;
        padding: 30px 30px 30px 30px;
    }

p, .lista
    {
        font-size: 17px; /* Modifica el tamaño de la fuente */
    }

img
    {
        /*
        border: dashed; # Aplica bordes
        */
    }

.elementos_centrados
    {
        /* Permiten centrar elementos contenidos en un "div" */
        display: flex;
        justify-content: center;
    }

a
    {
        font-weight: bold; /* Modifica la fuente */
    }

hr
    {
        border: groove;
        width: 1200px;
    }

/* FIN */